<!DOCTYPE html>
<html lang="en" ng-app="indexApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>IIASA - DEMO APP</title>

        <meta name="description" content="Demo application for IIASA">
        <meta name="author" content="Ademar Victorino!">

        <link href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="lib/bower_components/leaflet/leaflet.css" rel="stylesheet">

    </head>
    <body ng-controller="indexController">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>
                        IIASA <small>Demo application from Ademar Victorino</small>
                    </h1>
                </div>
            </div>
        </div>

        <div class="alert alert-danger" id="alert" role="alert" ng-show="main_error_mensage != ''">{{main_error_mensage}}</div>

        <div class="row">
            <div class="col-md-12">
                <button type="button"
                        class="btn btn-primary btn-sm"
                        data-toggle="button"
                        aria-pressed="false"
                        autocomplete="off"
                        ng-disabled="display_leaflet_map"
                        ng-click="show_clickable_area()">
                    {{ show_hide_click_area_text }} <i class="glyphicon glyphicon-flash"></i>
                </button>

                <button type="button"
                        class="btn btn-primary btn-sm"
                        autocomplete="off"
                        ng-disabled="display_leaflet_map"
                        ng-click="fit_iiasa()">
                        Fit IIASA <i class="glyphicon glyphicon-screenshot"></i>
                </button>

                <button type="button"
                        class="btn btn-primary btn-sm"
                        data-toggle="button"
                        aria-pressed="false"
                        autocomplete="off"
                        ng-disabled="display_leaflet_map"
                        ng-click="show_austria_area()">
                    {{ show_hide_austria_polygon_text }} <i class="glyphicon glyphicon-home"></i>
                </button>

                <button type="button"
                        class="btn btn-primary btn-sm"
                        data-toggle="button"
                        aria-pressed="false"
                        autocomplete="off"
                        ng-click="display_leaflet_map = !display_leaflet_map;">
                        leafletjs map <i class="glyphicon glyphicon-picture"></i>
                </button>
            </div>
        </div>
        <br>
        <div class="row" style="padding-left:15px;" ng-hide="!display_leaflet_map">
            <div id="map_leaflet" class="col-md-6" style="width:530px;height:530px"></div>
            <div class="col-md-6">
                <div class="list-group">
                    <a href="#" class="list-group-item active">World Border Description:</a>
                    <a href="#" class="list-group-item">Shapefile simplified and converted to geojson using QGIS</a>
                    <a href="#" class="list-group-item">Choropleth based on world population 2005 information</a>
                    <a href="#" class="list-group-item">Sliced calculation by QGIS using Natural Breaks (Jenkns) algorithm</a>
                    <a href="#" class="list-group-item">Adapted from QGIS to Leafletjs format manually</a>
                    <a href="#" class="list-group-item">OpenStreetMap tiles data source to fill the background</a>
                </div>
            </div>
        </div>
        <div class="row" style="padding-left:15px;" ng-hide="display_leaflet_map">
            <div class="col-md-6" id="map" style="background-color: gray;min-height: 400px;padding-left:0;margin-bottom: 15px;">
            </div>
            <div class="col-md-6">
                <div class="tabbable" id="tabs-182079">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a id="id_panel_510029" href="#panel-510029" data-toggle="tab">Address list ({{address.length}})</a>
                        </li>
                        <li>
                            <a id="id_panel_635198" href="#panel-635198" data-toggle="tab">Add Address</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-510029">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <thead>
                                        <tr>
                                            <th>
                                                Address
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                            <th>
                                                Edit
                                            </th>
                                            <th>
                                                Remove
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="addr in address" >
                                                <td>
                                                    {{addr.address}}
                                                </td>
                                                <td>
                                                    {{addr.email}}
                                                </td>
                                                <td>
                                                    <button type="button"
                                                            class="btn btn-default btn-sm"
                                                            autocomplete="off"
                                                            ng-click="edit_address(addr)">
                                                        <i class="glyphicon glyphicon-edit"></i>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button"
                                                            class="btn btn-danger btn-sm"
                                                            autocomplete="off"
                                                            ng-click="delete_address(addr)">
                                                            <i class="glyphicon glyphicon-minus-sign"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="panel-635198">
                            <div class="row ">
                                <div class="col-md-12 ">
                                    <form role="form" class="well">
                                        <p><small>lat: {{ form_lat }} lng: {{ form_lng }}</small></p>
                                        <div class="form-group">
                                            <label for="id_form_email">
                                                Email address *
                                            </label>
                                            <input type="email" class="form-control" required ng-model="form_email" id="id_form_email">
                                        </div>
                                        <div class="form-group">
                                            <label for="id_form_address">
                                                Address *
                                            </label>
                                            <input type="text" class="form-control" ng-blur="move_marker()" required ng-model="form_address" id="id_form_address">
                                            <p class="help-block">
                                                The address will be validate if the location was inside the clickable area.
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_form_phone">
                                                Phone
                                            </label>
                                            <input type="phone" class="form-control" ng-model="form_phone" id="id_form_phone">
                                        </div>
                                        <div class="form-group">
                                            <label for="id_form_job">
                                                Job Description
                                            </label>
                                            <input type="text" class="form-control" ng-model="form_job" id="id_form_job">
                                        </div>


                                        <button type="submit" class="btn btn-default" ng-click="save_form()" ng-disabled="disable_save_button()">
                                            Salve
                                        </button>
                                        <a class="btn btn-default" ng-click="reset_form()">
                                            Reset
                                        </a>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-left: 15px;">
            <div class="col-md-12">
                <blockquote>
                    <p>Angularjs -> PHP -> MongoDB: a simple way to do simple systems</p>
                    <footer>I would like did in Java but the complexity of language and the infrastructure is not feasible on the short term.</footer>
                </blockquote>
            </div>
        </div>

        <div class="row" style="padding-left: 15px;">
            <div class="list-group col-md-6">
                <a href="#" class="list-group-item active">Client Side:</a>
                <a href="#" class="list-group-item">AngularJS</a>
                <a href="#" class="list-group-item">JQuery</a>
                <a href="#" class="list-group-item">Bootstrap</a>
                <a href="#" class="list-group-item">Underscore</a>
                <a href="#" class="list-group-item">Leaflet</a>
                <a href="#" class="list-group-item">GoogleMaps</a>
            </div>
            <div class="list-group col-md-6">
                <a href="#" class="list-group-item active">Server Side:</a>
                <a href="#" class="list-group-item">PHP</a>
                <a href="#" class="list-group-item">MongoDB</a>
                <a href="#" class="list-group-item">Apache</a>
                <a href="#" class="list-group-item">letsencrypt</a>
                <a href="#" class="list-group-item">Ubuntu</a>
                <a href="#" class="list-group-item">AWS EC2</a>
            </div>
        </div>

        <div class="list-group col-md-6">
            <a href="#" class="list-group-item active">Important files:</a>
            <a href="#" class="list-group-item">/static/index.html HTML View</a>
            <a href="#" class="list-group-item">/static/lib/main_app.js Angular Controller</a>
            <a href="#" class="list-group-item">/app/public/save_address.php Json Parser</a>
            <a href="#" class="list-group-item">/app/lib/address.php Database Model</a>
            <a href="#" class="list-group-item">/app/lib/database.php MOngoDB database interface</a>
        </div>

        <div class="row" style="padding-left: 15px;">
            <div class="col-md-12">
                <blockquote>
                    <p>
                        This system was deployed in a AWS ec2 instance, all configured for me, and in this server has other projects using others languages like python <3.
                    </p>
                </blockquote>
            </div>
        </div>

        <div class="row" style="padding-left: 15px;">
            <div class="col-md-12">

            </div>
        </div>

    </div>

    <script src="lib/bower_components/leaflet/leaflet.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLOpQAUDp4ybYfH31ao4rjWsHbiNXwk1s"></script>
    <script src="lib/bower_components/angular/angular.min.js"></script>
    <script src="lib/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="lib/bower_components/underscore/underscore-min.js"></script>
    <script src="lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="lib/main_app.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-74762889-2', 'auto');
        ga('send', 'pageview');

    </script>
  </body>
</html>